.header {
    text-align: center;
    margin-bottom: 35px;
}

.header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.green {
    color: #0ecb63;
}

.icon {
    font-size: 0.9em;
    line-height: 1;
}

.icon {
    transform: translateY(-2px);
}