.app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: min(420px, 95%);
    margin-top: 40px;
}

.content {
    margin-top: 35px;

    display: flex;
    justify-content: center;
}

