* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #11151b 0%, #171c23 50%, #11151b 100%);

    color: white;
}
